@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");

html {
  min-height: 100vh;
  max-width: 100vw;
}

header {
  font-size: 3rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100vw;
  color: navy;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: ;
  background-color: khaki;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

img {
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
  margin: 1rem;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(./media/minions.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

textarea {
  width: 60vw;
  height: 20vh;
  background-color: khaki;
  font-size: 1rem;
  border-radius: 8px;
  border: 0.2rem solid midnightblue;
  margin: 1rem;
}

#btn-translate {
  color: navy;
  background-color: yellow;
  font-size: 1.4rem;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 5px;
  border-color: midnightblue;
  height: 4rem;
  width: 8rem;
}

#btn-translate:hover {
  transform: scale(1.1);
}

#text-output {
  width: 60vw;
  height: 20vh;
  background-color: khaki;
  border: 0.2rem solid midnightblue;
  border-radius: 8px;
  margin: 1rem;
  /* margin-bottom: auto; */
  font-size: 1.3rem;
  color: navy;
}

footer {
  margin-top: auto;
  margin-bottom: 0;
}

@media screen and (max-width: 480px) {
  header {
    font-size: 2rem;
    padding: 1rem;
  }
  h1 {
    padding-left: 1rem;
  }
  img {
    margin: 0.1rem;
  }
  textarea {
    width: 60vw;
    height: 15vh;
  }
  #text-output {
    width: 60vw;
    height: 15vh;
  }
}
footer {
  background-color: #88f3d9;
  margin: 0;
  text-align: center;
}

li {
  display: inline;
  list-style: none;
  margin: 1rem;
  font-size: 1.3rem;
}

ul {
  text-align: center;
  padding-left: 0;
  padding: 1rem;
}
