html {
  min-height: 100vh;
  max-width: 100vw;
}

header {
  font-size: 3rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100vw;
  color: navy;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: ;
  background-color: khaki;
  display: flex;
}

img {
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
  margin: 1rem;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(./media/minions.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

textarea {
  width: 60vw;
  height: 20vh;
  background-color: khaki;
  font-size: 1rem;
  border-radius: 8px;
  border: 0.2rem solid midnightblue;
  margin: 1rem;
}
